.panel{
    margin: 2em;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.required {
    border-width: 1px;
    border-style: solid;
    border-color: coral;
}

.select2-selection--single {
    width: 280px;
    /*width: 17.5em;*/
}

.select2-container .select2-selection--single {
    height: 34px;
    /*height: 2.125em;*/
}